<a href="https://colab.research.google.com/github/pedrocacioli8/AulasSirius/blob/main/Pandas_Exerc%C3%ADcio_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
exam_data = {'nome': ['Sandra', 'Carlos', 'Regiane', 'Cesar', 'Eliana', 'Marcelio', 'Marcos', 'Leandra', 'Roberto', 'João'],
'pontuação': [10, 9, 6.5, 8.7, 9, 6.8, 9.5, 5, 8, 4],
'tentativas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'aprovado': ['sim', 'sim', 'não', 'sim', 'sim', 'não', 'sim', 'não', 'sim', 'não']}

rotulos = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(exam_data , index=rotulos)

In [ ]:
df.rename(columns={"pontuação": "notas"}, inplace = True)

In [ ]:
df.columns

Index(['nome', 'notas', 'tentativas', 'aprovado'], dtype='object')

In [ ]:
print('Informações básicas: ')

Informações básicas:

In [ ]:
print('Informações básicas: ')
df.info()

Informações básicas:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        10 non-null     object
 1   notas       10 non-null     float64
 2   tentativas  10 non-null     int64
 3   aprovado    10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [ ]:
print(df.columns)

Index(['nome', 'notas', 'tentativas', 'aprovado'], dtype='object')