<a href="https://colab.research.google.com/github/pedrocacioli8/AulasSirius/blob/main/Pandas_Aula_04_Importar_e_Exportar_arquivos_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("ideb (1).csv")

In [ ]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
0,2005,AC,1200302,municipal,fundamental,iniciais (1-5),53.9,0.561795,167.8,165.60,4.177761,2.3,NaN
1,2005,AC,1200328,estadual,fundamental,iniciais (1-5),49.3,0.501470,151.8,149.60,3.578558,1.8,NaN
2,2005,AC,1200328,municipal,fundamental,iniciais (1-5),48.8,0.494267,163.6,155.80,3.920963,1.9,NaN
3,2005,AC,1200328,publica,fundamental,iniciais (1-5),48.8,0.497858,159.0,153.39,3.785995,1.9,NaN
4,2005,AC,1200336,municipal,fundamental,iniciais (1-5),74.7,0.752579,138.0,134.19,3.038804,2.3,NaN

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(200226, 13)

In [ ]:
df.dtypes

ano                              int64
sigla_uf                        object
id_municipio                     int64
rede                            object
ensino                          object
anos_escolares                  object
taxa_aprovacao                 float64
indicador_rendimento           float64
nota_saeb_matematica           float64
nota_saeb_lingua_portuguesa    float64
nota_saeb_media_padronizada    float64
ideb                           float64
projecao                       float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200226 entries, 0 to 200225
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ano                          200226 non-null  int64
 1   sigla_uf                     200226 non-null  object
 2   id_municipio                 200226 non-null  int64
 3   rede                         200226 non-null  object
 4   ensino                       200226 non-null  object
 5   anos_escolares               200226 non-null  object
 6   taxa_aprovacao               136633 non-null  float64
 7   indicador_rendimento         136623 non-null  float64
 8   nota_saeb_matematica         114611 non-null  float64
 9   nota_saeb_lingua_portuguesa  114611 non-null  float64
 10  nota_saeb_media_padronizada  127877 non-null  float64
 11  ideb                         127844 non-null  float64
 12  projecao                     162817 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 21.4+ MB

In [ ]:
df["rede"].value_counts()

publica      75986
estadual     66181
municipal    56684
federal       1375
Name: rede, dtype: int64

In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Arquivos/ideb (1).csv")

In [ ]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
0,2005,AC,1200302,municipal,fundamental,iniciais (1-5),53.9,0.561795,167.8,165.60,4.177761,2.3,NaN
1,2005,AC,1200328,estadual,fundamental,iniciais (1-5),49.3,0.501470,151.8,149.60,3.578558,1.8,NaN
2,2005,AC,1200328,municipal,fundamental,iniciais (1-5),48.8,0.494267,163.6,155.80,3.920963,1.9,NaN
3,2005,AC,1200328,publica,fundamental,iniciais (1-5),48.8,0.497858,159.0,153.39,3.785995,1.9,NaN
4,2005,AC,1200336,municipal,fundamental,iniciais (1-5),74.7,0.752579,138.0,134.19,3.038804,2.3,NaN

In [ ]:
df["x"] = df["ano"]*2

In [ ]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao,x
0,2005,AC,1200302,municipal,fundamental,iniciais (1-5),53.9,0.561795,167.8,165.60,4.177761,2.3,NaN,4010
1,2005,AC,1200328,estadual,fundamental,iniciais (1-5),49.3,0.501470,151.8,149.60,3.578558,1.8,NaN,4010
2,2005,AC,1200328,municipal,fundamental,iniciais (1-5),48.8,0.494267,163.6,155.80,3.920963,1.9,NaN,4010
3,2005,AC,1200328,publica,fundamental,iniciais (1-5),48.8,0.497858,159.0,153.39,3.785995,1.9,NaN,4010
4,2005,AC,1200336,municipal,fundamental,iniciais (1-5),74.7,0.752579,138.0,134.19,3.038804,2.3,NaN,4010

In [ ]:
df[["ano", "rede", "x"]]

         ano       rede     x
0       2005  municipal  4010
1       2005   estadual  4010
2       2005  municipal  4010
3       2005    publica  4010
4       2005  municipal  4010
...      ...        ...   ...
294421  2019    publica  4038
294422  2019  municipal  4038
294423  2019  municipal  4038
294424  2019    publica  4038
294425  2019   estadual  4038

[294426 rows x 3 columns]

In [ ]:
#exportar para uma pasta
df.to_csv("/content/drive/MyDrive/Arquivos/meu_arquivo.csv", index=False)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Arquivos/meu_arquivo.csv")

In [ ]:
df.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao,x
0,2005,AC,1200302,municipal,fundamental,iniciais (1-5),53.9,0.561795,167.8,165.60,4.177761,2.3,NaN,4010
1,2005,AC,1200328,estadual,fundamental,iniciais (1-5),49.3,0.501470,151.8,149.60,3.578558,1.8,NaN,4010
2,2005,AC,1200328,municipal,fundamental,iniciais (1-5),48.8,0.494267,163.6,155.80,3.920963,1.9,NaN,4010
3,2005,AC,1200328,publica,fundamental,iniciais (1-5),48.8,0.497858,159.0,153.39,3.785995,1.9,NaN,4010
4,2005,AC,1200336,municipal,fundamental,iniciais (1-5),74.7,0.752579,138.0,134.19,3.038804,2.3,NaN,4010